<!-- Provides a Wrapper around Visualizations -->
<!doctype html>
<html>
<head>
  <link rel="stylesheet" mead='screen' href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  {% block head %}
  <title>{% block title %}{% endblock %}No Grupetto</title>
  {% endblock %}
</head>
<nav class="navbar navbar-default navbar-static-top" style='background-color: #FF8633;' role="navigation">
  <div>
    <a class="navbar-brand" href="/logout" style="font-family:menlo;color:white;">Log Out</a>
  </div>
</nav>
<body>
  <div id="content">{% block content %}{% endblock %}</div>
  <div class=container>
  {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
      {% for category, message in messages %}
        <p class="{{ category }}">{{ message }}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}
  </div>
</body>
</html>
