{% extends "base.html" %}
{% block content %}
<script>
  $(document).ready(function(){
    $('#dashboard').css('text-decoration','underline');
  });
</script>
<div class=container>
  <div class="row">
    <div class="col-lg">
      <h2>Totals</h2>
      <p>Total rides: {{career.count}}</p>
      <p>Total miles biked: {{'{0:,.2f}'.format(career.distance)}} miles</p>
      <p>Total elevation climbed: {{'{0:,.2f}'.format(career.elevation)}} feet</p>
      <p>Total time spent: {{career.time}}</p>
      <p>Max speed: {{'{0:,.2f}'.format(career.max_speed)}} miles per hour</p>
      <p>Max heart rate: {{'{0:,.2f}'.format(career.max_bpm)}} bpm</p>
    </div>
    <div class="col-lg">
      <h2>Average</h2>
      <p>Ride Density <a href="#" title="Time it takes to do ten rides.">(?)</a>: {{career.ride_density}}</p>
      <p>Miles per ride: {{'{0:,.2f}'.format(career.distance/career.count)}} miles</p>
      <p>Feet climbed per ride: {{'{0:,.2f}'.format(career.elevation/career.count)}} miles</p>
      <p>Time per ride: {{career.avg_time}}</p>
      <p>Average speed: {{'{0:,.2f}'.format(career.speed)}} miles per hour</p>
      <p>Average heart rate: {{'{0:,.2f}'.format(career.avg_bpm)}} bpm</p>
    </div>
  </div>
  <hr>
</div>
{% endblock %}
