<!-- extend from base layout -->
{% extends "base.html" %}
{% block content %}
<div class=container>
  <h2 style='padding-bottom:20px;'>Log In</h2>
  <form action="" method="post" name="login">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <p>
          <input type="text" class="form-control" id="name" name="name" placeholder="Name">
        </p>
        {% for error in form.name.errors %}
        <p class="alert alert-danger">[{{ error }}]</p>
        {% endfor %}
        <p>
          <input type="text" class="form-control" id="password" name="password" placeholder="Password">
        </p>
        {% for error in form.password.errors %}
        <p class="alert alert-danger">[{{ error }}]</p>
        {% endfor %}
      <p>{{ form.remember_me }} Remember Me</p>
    </div>
    <p><input type="submit" class='btn btn-warning' value="Sign In"></p>
  </form>
</div>
{% endblock %}
