<head>
  <link rel="stylesheet" mead='screen' href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  <title>No Grupetto</title>
</head>
<body style="background-color:FF8633;">
  <div class=square>
    <div style='padding:20px;'>
      <h2 style='padding-bottom:20px;'>Sign Up</h2>
      <form action="" method="post" name="signup">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <p>
              <input type="text" class="form-control" id="name" name="name" placeholder="Name">
            </p>
            {% for error in form.name.errors %}
            <p class="alert alert-danger">[{{ error }}]</p>
            {% endfor %}
            <p>
              <input type="text" class="form-control" id="password" name="password" placeholder="Password">
            </p>
            {% for error in form.password.errors %}
            <p class="alert alert-danger">[{{ error }}]</p>
            {% endfor %}
          <p>{{ form.remember_me }} Remember Me</p>
        </div>
        <p><input type="submit" class='btn btn-warning' value="Sign Up"></p>
      </form>
    <div>
    <div class=container>
    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        {% for category, message in messages %}
          <p class="{{ category }}">{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
    </div>
  </div>
</body>
